In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('raw_data/Student-por.csv')

In [30]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data = pd.read_csv('raw_data/Student-por.csv')

columns_to_encode = ['school', 'sex', 'Medu','reason','traveltime','studytime', 'freetime', 'higher',
       'failures', 'internet']

columns_not_to_encode = ['age', 'G3']

encoder = OneHotEncoder(sparse=False)

one_hot_encoded = encoder.fit_transform(data[columns_to_encode])

encoded_columns = encoder.get_feature_names_out(columns_to_encode)

encoded_df = pd.DataFrame(one_hot_encoded, columns=encoded_columns)

final_df = pd.concat([encoded_df, data['age'], data['G3']], axis=1)

print(final_df)

     school_GP  school_MS  sex_F  sex_M  Medu_0  Medu_1  Medu_2  Medu_3  \
0          1.0        0.0    1.0    0.0     0.0     0.0     0.0     0.0
1          1.0        0.0    1.0    0.0     0.0     1.0     0.0     0.0
2          1.0        0.0    1.0    0.0     0.0     1.0     0.0     0.0
3          1.0        0.0    1.0    0.0     0.0     0.0     0.0     0.0
4          1.0        0.0    1.0    0.0     0.0     0.0     0.0     1.0
..         ...        ...    ...    ...     ...     ...     ...     ...
644        0.0        1.0    1.0    0.0     0.0     0.0     1.0     0.0
645        0.0        1.0    1.0    0.0     0.0     0.0     0.0     1.0
646        0.0        1.0    1.0    0.0     0.0     1.0     0.0     0.0
647        0.0        1.0    0.0    1.0     0.0     0.0     0.0     1.0
648        0.0        1.0    0.0    1.0     0.0     0.0     0.0     1.0

     Medu_4  reason_course  ...  higher_no  higher_yes  failures_0  \
0       1.0            1.0  ...        0.0         1.0         1.0
1       0.0            1.0  ...        0.0         1.0         1.0
2       0.0            0.0  ...        0.0         1.0         1.0
3       1.0            0.0  ...        0.0         1.0         1.0
4       0.0            0.0  ...        0.0         1.0         1.0
..      ...            ...  ...        ...         ...         ...
644     0.0            1.0  ...        0.0         1.0         0.0
645     0.0            1.0  ...        0.0         1.0         1.0
646     0.0            1.0  ...        0.0         1.0         1.0
647     0.0            1.0  ...        0.0         1.0         1.0
648     0.0            1.0  ...        0.0         1.0         1.0

     failures_1  failures_2  failures_3  internet_no  internet_yes  age  G3
0           0.0         0.0         0.0          1.0           0.0   18  11
1           0.0         0.0         0.0          0.0           1.0   17  11
2           0.0         0.0         0.0          0.0           1.0   15  12
3           0.0         0.0         0.0          0.0           1.0   15  14
4           0.0         0.0         0.0          1.0           0.0   16  13
..          ...         ...         ...          ...           ...  ...  ..
644         1.0         0.0         0.0          0.0           1.0   19  10
645         0.0         0.0         0.0          0.0           1.0   18  16
646         0.0         0.0         0.0          1.0           0.0   18   9
647         0.0         0.0         0.0          0.0           1.0   17  10
648         0.0         0.0         0.0          0.0           1.0   18  11

[649 rows x 36 columns]

/home/jeffreycheung/.pyenv/versions/3.10.6/envs/ml_for_learners/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(